.btn-donate {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: #e7dacadc;
  --btn-bg-2: #e7dacadc;
  --btn-bg-color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 150px;
  min-height: 54px;
  width: 350px;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.8s;
  font-family: var(--main-font);
  background-size: 280% auto;
  background-image: linear-gradient(325deg,
      var(--btn-bg-2) 0%,
      var(--btn-bg-1) 55%,
      var(--btn-bg-2) 90%);
  border: none;
  border-radius: 20px;
  color: var(--btn-bg-color);
  /* box-shadow: 0px 0px 20px rgba(89, 255, 71, 0.5),
  0px 5px 5px -1px rgba(102, 233, 58, 0.25),
  inset 4px 4px 8px rgba(175, 255, 175, 0.5),
  inset -4px -4px 8px rgba(19, 216, 39, 0.35); */
  text-align: center;
  align-content: center;
}

.btn-donate:hover {
  background-position: right top;
}

.btn-donate:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow:
    0 0 0 3px var(--btn-bg-color),
    0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .btn-donate {
    transition: linear;
  }
}


.in__block {
  width: 100% !important;
  font-size: 18px;
}

.m__top {
  margin-top: 30px;
}



* {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto !important;
  font-weight: 500 !important;
  font-style: normal !important;
  outline: none;
}


.hh {

  width: 100%;
  height: 20px;
  background-color: #e7daca;
}

.hh2_1 {

  width: 100%;
  height: 2px;
  background-color: #e7daca;
}

.hh2 {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 20px;
}

.contact__form-contacts {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 40px;
}

.cantbe {
  display: none;
}

.calc__content {
  width: 65%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.calc__form {
  width: 100%;
}

.calc__input-wrapper_row label {
  font-size: 20px !important;
}

.calc__input-wrapper_row input {
  transform: scale(1.5);
}

@media (max-width: 992px) {
  .calc__content {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .contact__form-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .calc__content {
    width: 100% !important;

  }

  .calc__form {
    width: 100%;
  }

  .calc__input-wrapper_row label {
    font-size: 13px !important;
  }

  .calc__input-wrapper_row input {
    transform: scale(0.8) !important;
  }

  .calc__input-wrapper {
    gap: 20px !important;
  }
}

.anti {
  width: 100%;
  position: relative;
  height: 30px;
  background-color: #f9f9f9;
  top: -30px;

}

#repair-cost-value {
  font-size: 25px;
}
